[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.7.6"
attrs = "==20.2.0"
certifi = "==2021.10.8"
click = "==7.1.2"
coverage = "==6.3.2"
flask = "==1.1.2"
flask-cors = "==3.0.9"
flask-marshmallow = "==0.14.0"
flask-migrate = "==3.1.0"
flask-restful = "==0.3.9"
flask-sqlalchemy = "==2.5.1"
jinja2 = "==2.11.2"
marshmallow = "==3.12.2"
marshmallow-sqlalchemy = "==0.28.0"
psycopg2 = "==2.8.6"
pytest = "==6.2.5"
python-dotenv = "==0.19.2"
rq = "==1.9.0"
sqlalchemy = "==1.4.27"
toml = "==0.10.1"
werkzeug = "==1.0.1"
flask-sieve = "==2.0.1"
flask-unittest = "==0.1.2"
requests = "==2.27.1"
rq-dashboard = "==0.6.1"
rq-scheduler = "==0.11.0"

[dev-packages]

[requires]
python_version = "3.9"
